@charset "utf-8";/* 最初に指定するもの。文字コードの設定 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: "Poppins","游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  background-color: lightcyan;
  color: black;
  margin: 0;
  
}

h1 {
  text-align: center;
}

h2 {
  font-size: 18px;
  font-family: "Meiryo", "MS PGothic", sans-serif;
}

p {
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: 22px;
}

.wrapper {
  margin: 0 auto;
  padding: 10px 100px 50px 100px;
  width: 960px;
  background-color: beige;
  border-radius: 20px;
}

.mainvisual {
  width: 960px;
  margin-bottom: 40px;
}

.mainvisual img {
  width: 100%;/*.mainvisualで設定した960pxのサイズを100%使う設定 (960pxの入れ物をフルに使う指定の仕方)*/
  border-radius: 10px;
}

.image {
  margin-top: -30px;
  margin-bottom: 50px;
}

.image img {
  width: 600px;
  border-radius: 10px;
}

img {
  transition: transform 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.05);
}

.logo {
  margin-top: 80px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: right;
  background-color: burlywood;
  border-radius: 20px;
}
