@charset "utf-8";
/* 必ず最初に指定する！文字コードの設定 */

body {
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #f39e94;
  color: #f03624;
}
h2 {
  font-size: 16px;
}
p {
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: 20px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 10px 100px 50px 100px;/**/
  background-color: #acd7cd;
}
.mainvisual {
  width: 960px;
  margin-bottom: 80px;
}
.mainvisual img {
  width: 100%;/*.mainvisualで設定した960pxのサイズを100%使う設定(960pxの入れ物をフルに使う指定の仕方）*/
}
.image{
  margin-top: -30px;
  margin-bottom: 50px;
}
.image img {
  width: 600px;
}

.logo {
  margin-top: 80px;
  text-align: right;
}